<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MeowBark</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>🐱 MeowBark 🐶</h1>
    <form method="POST" enctype="multipart/form-data" class="form">
      <label class="file-label">
        📷 Choose an image:
        <input type="file" name="image" class="file-input" required>
      </label>
      <button type="submit" class="submit-btn">Predict</button>
    </form>
    {% if prediction %}
      <div class="result">
        <strong>The Predicted image is of - </strong> {{ prediction }}
      </div>
      <img src="{{ image_url }}" alt="Uploaded Image">
    {% endif %}
  </div>
</body>
</html>